@mixin buttonStyle($color) {
  background-color: $color;
  &:hover {
    @include higher-shadow($color);
  }
}

button.aface {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  color: $color-f;
  @include transition($transition-speed);
  @include buttonStyle($color-steel);

  &.sea { @include buttonStyle($color-sea) }
  &.grass { @include buttonStyle($color-grass) }
  &.fire { @include buttonStyle($color-fire) }
  &.sky { @include buttonStyle($color-sky) }
}