@mixin buttonStyle($color) {
  background-color: $color;
  &:hover {
    box-shadow: 0 0 0 3px rgba($color, 0.5);
  }
}

button.aface {
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 3px;

  color: $color-steel-font;
  background-color: lighten($color-steel, 10%);

  &.sea { @include buttonStyle($color-sea) }
  &.grass { @include buttonStyle($color-grass) }
  &.fire { @include buttonStyle($color-fire) }
}