$color-0: #000;
$color-1: #111;
$color-2: #222;
$color-3: #333;
$color-4: #444;
$color-5: #555;
$color-6: #666;
$color-7: #777;
$color-8: #888;
$color-9: #999;
$color-a: #aaa;
$color-b: #bbb;
$color-c: #ccc;
$color-d: #ddd;
$color-e: #eee;
$color-f: #fff;

$color-sea: rgb(66,105,165);
$color-sky: rgb(0,188,212);
$color-grass: rgb(57,130,90);
$color-apple: rgb(77,150,110);
$color-orange: #f0ad4e;
$color-fire: rgb(220,97,65);
$color-steel: rgb(81,92,107);

$color-active: $color-sky;

@mixin higher-shadow($color) {
    box-shadow: 0 4px 20px 0px rgba(136, 69, 69, 0.14), 0 7px 10px -5px rgba($color, 0.4);
}

$font-size: 14px;
$font-family: 'Microsoft YaHei', 'simhei', 'Times New Roman';

$transition-speed: 300ms;

@mixin border-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@mixin content-box {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

@mixin box-shadow {
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.box-shadow {
    @include box-shadow;
}

@mixin card-shadow {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.card-shadow {
    @include card-shadow;
}

@mixin zero {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
}

@mixin clearfix {
    &:after {
        content: ' ';
        display: block;
        height: 0;
		width: 0;
        clear: both;
        visibility: hidden;
    }
}

.clearfix {
    @include clearfix;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

@mixin rotate($angle) {
	-webkit-transform: rotate($angle);
       -moz-transform: rotate($angle);
        -ms-transform: rotate($angle);
            transform: rotate($angle);
}

@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    -o-transition: $time ease-in-out;
    transition: $time ease-in-out;
}

.rotate-90 {
	@include rotate(90deg);
}

.rotate-n90 {
	@include rotate(-90deg);
}

.rotate-180 {
	@include rotate(180deg);
}

.rotate-n180 {
	@include rotate(-180deg);
}

html, body {
	font-family: $font-family;
    color: $color-f;
}

a {
    text-decoration: none;
}

*.aface {
	@include zero;
    @include border-box;
    
	font-family: $font-family;
}

$font-color: $color-9;
* {
    color: $color-9;
}

*.none-select {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: solid 1px $color-0;
    background-color: lighten($color-sea, 10%)
}

.slide-y-enter-active {
  transition: all .3s ease;
}
.slide-y-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-y-enter, .slide-y-leave-to {
  transform: translateY(5px);
  opacity: 0.6;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
