$panel-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);

div.aface.panel {
  background-color: $color-f;
  border-radius: 2px;
  padding: 5px;
  overflow: hidden;
  box-shadow: $panel-shadow;

  &>div.body {
    overflow: auto;
    height: calc(100% - 40px);
  }
}